<configuration>
<!--    <appender name="ELASTIC" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">-->
<!--        <url>http://elasticsearch:9200/app-logs/_doc</url>-->
<!--        <user>elastic</user>-->
<!--        <password>${ELASTIC_PASSWORD}</password>-->
<!--        <index>app-logs</index>-->

<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <pattern>%date %-5level [%thread] %logger{36} - %msg%n</pattern>-->
<!--        </layout>-->
<!--    </appender>-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="ELASTIC" />-->
<!--    </root>-->

    <!-- Appender clásico de consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender OpenTelemetry -->
    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="OTEL"/>
    </root>
</configuration>
